<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <div class="example-boundary">
      <div class="card" cdkDragBoundary=".example-boundary" cdkDrag>
        <div class="card-header">
          Titulo
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend"
              [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>


      <div class="card"  cdkDragBoundary=".example-boundary" cdkDrag>
        <div class="card-header">
          Bar Chart
          <div class="card-header-actions example-handle" cdkDragHandle>
            
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

    </div>

    <!-- Fin de la zona de drag -->

    
    <div class="card">
      <div class="card-header">
        Doughnut Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Radar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="radarChartData" [labels]="radarChartLabels"
            [chartType]="radarChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Pie Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Polar Area Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
